<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.demo.palette">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Palette">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ContainersActivity" />
        <activity android:name=".containers.ScrollViewActivity" />
        <activity android:name=".containers.ViewPagerActivity" />
        <activity android:name=".LayoutsActivity" />
        <activity android:name=".layouts.LinearLayoutActivity" />
        <activity android:name=".layouts.TableLayoutActivity" />
        <activity android:name=".LegacyActivity" />
        <activity android:name=".legacy.GridViewActivity" />
        <activity android:name=".legacy.ListViewActivity" />
        <activity android:name=".legacy.RelativeLayoutActivity" />
        <activity android:name=".WidgetsActivity" />
        <activity android:name=".widgets.ImageViewActivity" />
        <activity android:name=".widgets.SearchViewActivity" />
        <activity android:name=".widgets.VideoViewActivity" />
        <activity android:name=".widgets.WebViewActivity" />
    </application>

</manifest>